.header-top {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  padding: 1rem 0;
  font-size: 0.85rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: -0.2px;
  color: black;
}

.logo {
  width: 400px;
  min-height: 30px;
  max-width: 73vw;
  margin-bottom: 0.1rem;
  background: url('../assets/logo_full.svg') center left no-repeat;
  cursor: pointer;

  @media (max-width: 800px) {
    background: url('../assets/logo_mob.svg') center left no-repeat;
  }
}

nav > ul {
  list-style: none;
  display: flex;
  justify-content: end;
}

nav > ul > li {
  width: auto;
  margin-left: 1.5rem;
  color: black;
}

nav > ul > li.active {
  text-decoration: underline;
}

nav > ul > li:hover {
  text-decoration: underline;
  cursor: pointer;
}

.become-slogan {
  display: flex;
  justify-content: space-between;
  width: 100%;
  min-height: 20px;
  background: black;
  color: white;
  font-weight: 300;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  padding: 0.15rem 0.5rem;
  border-radius: var(--radius);

  @media (max-width: 320px) {
    display: none;
  }
}

.become-middle {
  display: block;
  flex: auto;
  background: url('../assets/slogan_full.svg') no-repeat;
  background-position: right center;
  background-size: 950px 16px;
  margin: 0 0.75rem;
  animation: slideFromLeft 2s ease;
}

.become-left {
  @media (max-width: 480px) {
    display: none;
  }
}

.become-right {
  display: flex;
  justify-content: end;
}

.become-left,
.become-right {
  width: fit-content;
}

strong {
  width: auto;
  margin: 0 0.4rem;
  font-weight: 500;
}

@keyframes slideFromLeft {
  0% {
    background-position-x: -2000px;
  }
  100% {
    background-position-x: right;
  }
}

@media (max-width: 800px) {
  nav {
    display: none;
  }

  .header-top {
    padding: 1rem 0;
  }
}
