#contact-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  margin: 1rem 0 2rem;
}

#contact-form label {
  font-weight: 600;
  font-size: larger;
}

#contact-form input,
#contact-form textarea {
  font-family: inherit;
  font-size: inherit;
  padding: 0.5rem;
  max-width: 40rem;
  border: 2px solid var(--colorGrey1);
  outline: none;
  background-color: #ffffff;
  border-radius: 5px;
  font-size: 1rem;
  resize: none;
}

#contact-form textarea {
  height: 8rem;
}

#contact-form input::placeholder,
#contact-form textarea::placeholder {
  opacity: 0.5;
}
#contact-form input:focus,
#contact-form textarea:focus {
  outline: none;
  border: 2px solid var(--colorGrey2);
}

#contact-form button,
#thanks-message button {
  padding: 0.5rem 1rem;
  background-color: var(--walker);
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  max-width: 40rem;
  cursor: pointer;
  transition: background-color 1.5s ease;
}

#contact-form button:hover {
  background-color: black;
  transition: background-color 0.5s ease;
}

#contact-form button:disabled {
  background-color: var(--colorGrey2);
  cursor: not-allowed;
}

#contact-form button:disabled:hover {
  background-color: #ccc;
}

#contact-form .error {
  color: red;
}

#contact-form .success {
  color: green;
}

#contact-form .warning {
  color: orange;
}

#contact-form .info {
  color: blue;
}

#contact-form .hidden {
  display: none;
}

#contact-form .visible {
  display: block;
}

#contact-form .hidden {
  display: none;
}

#contact-form .visible {
  display: block;
}

#thanks-message {
  text-align: center;
}

#thanks-message .thanks-message-button {
  margin: 1rem 0 3rem;
  width: fit-content;
}
