.portfolio {
  flex: 1;
  padding: 0.5rem 0;
}

.portfolio-filters {
  /* display: flex; */
  margin-bottom: 0.5rem;
  height: 24px;
  overflow: hidden;
}

.filters-button {
  position: relative;
  background: url('../assets/filter.svg') no-repeat;
  height: 10px;
  font-size: 0.65rem;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0.5rem 0.3rem;
  cursor: pointer;
  transform: translate(0, 0);
  transition: transform 0.5s ease;
}

.filters-button::after {
  content: 'FILTER';
  position: absolute;
  left: 22px;
  top: -2px;
  opacity: 0;
  transition: 0.3s opacity ease 0.3s;
}

.filters-button:hover::after {
  opacity: 1;
}

.filters-list > li {
  display: inline;
  margin: 0 1rem 0 0.5rem;
  font-size: 0.75rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: -0.2px;
  color: black;
  opacity: 0.5;
  cursor: pointer;
  transform: translate(0, 0);
  transition: transform 0.5s ease;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.filters-list > .active {
  opacity: 1;
}

.filters-list > .close-filters {
  display: inline-block;
  height: 0.6rem;
  width: 0.6rem;
  background: url('../assets/cross.svg') no-repeat;
}

.filters-shown > .filters-button {
  transform: translateY(-26px);
  transition: transform 0.5s ease;
}

.filters-shown > .filters-list {
  transform: translateY(-26px);
  transition: transform 0.5s ease;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 8px;
}

.grid-item {
  position: relative;
  display: block;
  height: 140px;
  text-align: center;
  transition: background-color 1s ease;
  background: white no-repeat center center;
  background-size: 65%;
  box-sizing: border-box;
  cursor: pointer;
  overflow: hidden;
  border-radius: var(--radius);
  animation-fill-mode: backwards;

  @media (max-width: 600px) {
    height: 100px;
    background-size: 55%;
  }

  @media (max-width: 480px) {
    height: 80px;
    background-size: 50%;
  }

  @media (max-width: 320px) {
    height: 70px;
    background-size: 40%;
  }
}

.bounceAnim {
  animation: itemBounce 0.7s;
}

.thumb-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  text-align: left;
  padding: 1rem;
  background: #000000e1;
  height: 100%;
  color: white;
  font-size: 0.7rem;
  font-weight: 200;
  transform: translateY(-150px);
  transition: transform 0.3s ease;
}

.thumb-info h3 {
  font-weight: 600;
  font-size: 0.7rem;
  text-transform: uppercase;
}

.grid-item:hover > .thumb-info {
  transform: translate(0, 0);
}

@keyframes itemBounce {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(50px);
  }
  100% {
    transform: translateY(0px);
  }
}
