#project-container {
  padding: 0.5rem 0;
  min-height: 100vh;
  min-height: 100dvh;
  animation: fade-in 0.3s ease-in-out 0.1s backwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.project-nav-open {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #fff;
  padding-right: 1rem;
  flex-direction: column;
  width: 200px;
  padding: 1rem 0 1rem 1rem;

  @media (max-width: 680px) {
    display: none;
  }
}

#project-details {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 1rem 0;
}

.proj-head {
  width: 100%;
  height: auto;
}

.proj-head h3 {
  text-transform: uppercase;
  letter-spacing: -0.5px;
  font-weight: 600;
  font-size: 1.75rem;
  margin: 0;
}

.proj-head h6 {
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 400;
  margin-top: 0;
}

#project-details .title-divider {
  padding: 0 0.5rem;
}

#project-details .main-img {
  margin: 1rem 0;
  width: 100%;
  object-fit: cover;
  border-radius: var(--radiusSmall);
}

#project-details .description {
  margin-top: 1rem;
}

.proj-thumb {
  background: no-repeat center center;
  background-color: rgba(0, 0, 0, 0.05);
  background-size: 75%;
  width: 100%;
  min-height: 6rem;
  margin-bottom: 0.5rem;
  border-radius: var(--radiusSmall);
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-sizing: border-box;
}

.proj-thumb:hover {
  background-color: rgba(255, 255, 255, 0.5);
  transform: translateX(-5px);
}

.proj-thumb.active {
  /* background-color: rgba(0, 0, 0, 0.05); */
  background-color: rgba(255, 255, 255, 0.9);
  /* background-color: var(--yellow); */
  /* border: 3px solid white; */
  transform: translateX(0);
  cursor: default;
}

.project-divider {
  width: 100%;
  margin-bottom: 5rem;
}
