:root {
  --skillsBorderWidth: 0.1rem;
  --skillsBorder: var(--skillsBorderWidth) solid black;
}

#skills-container {
  padding: 1rem 0;
  min-height: 100vh;
  min-height: 100dvh;
  animation: fade-in 0.3s ease-in-out 0.1s backwards;
  text-align: center;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

#skills-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  margin-bottom: 4rem;
  border: var(--skillsBorder);
  border-top: none;
  border-radius: 0 0 var(--radius) var(--radius);
  margin: 0.002rem;
  margin-top: -1.05rem;
  height: 100%;
  min-height: 50vh;
  padding: 1rem;

  @media screen and (max-width: 1080px) {
    grid-gap: 0.5rem;
  }

  @media screen and (max-width: 920px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (max-width: 560px) {
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 2rem;
  }
}

#skills-grid .grid-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  text-align: left;
  height: var(--gridItemHeight);
  min-height: var(--gridItemHeight);
  padding: 0.5rem;
  background: var(--gridItem);
  color: var(--walkerText);
  font-size: 0.7rem;
  line-height: 1.2;
  font-weight: 400;
  border-radius: var(--radius);
}

#skills-grid .grid-item:first-child {
  grid-column: span 2;
  grid-row: span 2;
  height: auto;
}

#skills-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  font-size: 0.85rem;
  font-weight: 500;
}

#skills-title a[href='/skills/dev'],
#skills-title a[href='/skills/design'] {
  position: relative;
  padding: 0.5rem 1rem;
  flex-basis: 17.25rem;
  min-width: 17.25rem;
  height: 2.25rem;
  text-align: left;
  color: var(--colorGrey2);
  border-bottom: 0.075rem solid black;
  box-sizing: border-box;
  cursor: pointer;
  user-select: none;
  transition: color 0.2s ease;
}

#skills-title a[href='/skills/design'] {
  text-align: right;
}

#skills-title a.active {
  color: var(--colorGrey8);
  font-weight: 600;
  border-bottom: none;
}

.skills-tab-left,
.skills-tab-right {
  position: absolute;
  top: 0.04rem;
  right: 0.0161122rem;
  fill: var(--colorGrey6);
  stroke: black;
  stroke-width: 0.085rem;
  z-index: -1;
  transition: fill 0.1s ease;
}

#skills-title .skills-tab-right {
  right: -0.0161122rem;
  transform: scaleX(-1);
}

#skills-title a[href='/skills/dev'].active > .skills-tab-left,
#skills-title a[href='/skills/design'].active > .skills-tab-right {
  fill: var(--colorGrey1);
}

.skills-title-middle {
  position: relative;
  flex-grow: 1;
  height: 2.32rem;
  box-sizing: border-box;
  border-bottom: var(--skillsBorder);
}

.skills-title-middle::before {
  content: '';
  position: absolute;
  bottom: -0.1rem;
  left: -0.1rem;
  right: -0.1rem;
  height: 0.1rem;
  background: black;
}

#skills-title svg {
  width: 17.25rem;
  height: 2.25rem;
}

@media screen and (max-width: 680px) {
  #skills-title {
    display: none;
  }

  .skills-title-middle::before {
    bottom: -0.1rem;
    left: -0.1rem;
    right: 0;
    background-color: black;
  }

  #skills-grid {
    margin-bottom: 2rem;
    border: none;
    border-radius: none;
    margin: 0;
    margin-top: 0;
    height: 100%;
    min-height: 50vh;
    padding: 0;
  }
}
