.header-top {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0.2rem;
  font-size: 0.85rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: -0.2px;
  color: black;
}

.logo {
  width: 440px;
  min-height: 35px;
  max-width: 73vw;
  margin-bottom: 0.1rem;
  background: url('../assets/logo_full.svg') center left no-repeat;
  cursor: pointer;

  @media (max-width: 800px) {
    width: 380px;
    min-height: 30px;
    background: url('../assets/logo_mob.svg') center left no-repeat;
  }
}

nav > ul {
  list-style: none;
  display: flex;
  justify-content: end;
}

nav > ul > li {
  width: auto;
  margin-left: 1.5rem;
  color: black;
  transition: all 0.3s ease;
  overflow: hidden;
}

nav > ul > li:hover {
  text-decoration: line-through;
  text-decoration-thickness: 0.1rem;
  cursor: pointer;
}

nav > ul > li > .active {
  text-decoration: line-through;
  /* text-decoration-color: black; */
  color: black;
  text-decoration-thickness: 0.1rem;
}

nav > ul > li > .active::after {
  content: '';
  display: block;
  width: 100%;
  height: 1rem;
  background-color: var(--accent);
  margin-top: -1.15rem;
}

nav > ul > li > .active:hover {
  cursor: default;
}

.become-slogan {
  display: flex;
  justify-content: space-between;
  width: 100%;
  min-height: 20px;
  background: black;
  color: white;
  font-weight: 300;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  padding: 0.15rem 0.5rem;
  border-radius: var(--radius);

  @media (max-width: 320px) {
    display: none;
  }
}

.become-middle {
  display: block;
  flex: auto;
  background: url('../assets/slogan_full.svg') no-repeat;
  background-position: right center;
  background-size: 950px 16px;
  margin: 0 0.75rem;
  transition: background-position-x 3s ease;
  animation: slideFromLeft 2s ease;
}

@keyframes slideFromLeft {
  0% {
    background-position-x: -2000px;
  }
  100% {
    background-position-x: right;
  }
}

.become-left {
  @media (max-width: 480px) {
    display: none;
  }
}

.become-right {
  display: flex;
  justify-content: end;
}

.become-left,
.become-right {
  width: fit-content;
}

strong {
  width: auto;
  margin: 0 0.4rem;
  font-weight: 500;
}

.hamburger {
  display: none;
  text-align: right;
  padding: 3px 0;
  height: 30px;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  overflow: visible;
}
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #000;
}
.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}
.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}
.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 34px;
  height: 3px;
  background-color: #000;
  border-radius: 2px;
  position: absolute;
  transition: transform 0.15s ease;
}
.hamburger-inner::before,
.hamburger-inner::after {
  content: '';
  display: block;
}
.hamburger-inner::before {
  top: -10px;
}
.hamburger-inner::after {
  bottom: -10px;
}
.hamburger .hamburger-inner {
  transition: background-color 0.125s 0.175s ease-in;
}
.hamburger .hamburger-inner::before {
  left: 0;
  transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, left 0.125s 0.175s ease-in;
}
.hamburger .hamburger-inner::after {
  top: 10px;
  right: 0;
  transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear,
    right 0.125s 0.175s ease-in;
}
.hamburger.is-active .hamburger-inner {
  transition-delay: 0s;
  transition-timing-function: ease-out;
  background-color: transparent !important;
}
.hamburger.is-active .hamburger-inner::before {
  left: -80px;
  top: -80px;
  transform: translate3d(80px, 80px, 0) rotate(45deg);
  transition: left 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.hamburger.is-active .hamburger-inner::after {
  right: -80px;
  top: -80px;
  transform: translate3d(-80px, 80px, 0) rotate(-45deg);
  transition: right 0.125s ease-out, top 0.05s 0.125s linear,
    transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1);
}

@media (max-width: 800px) {
  nav {
    display: none;
  }

  .hamburger {
    display: inline-block;
  }

  .header-top {
    padding: 1rem 0;
  }
}
