#project-reactions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: var(--radius);
  margin: 3rem auto;
}

#project-reactions h3 {
  text-align: center;
  padding: 2rem 0 1rem;
}

#project-reactions ul {
  display: flex;
  justify-content: space-between;
  padding-bottom: 3rem;
  width: 60%;
  list-style: none;
}

#project-reactions li img {
  width: 70%;
  cursor: pointer;
  transform: scale(0.85);
  transition: transform 0.3s ease;
}

#project-reactions li img:hover {
  transform: scale(1.1);
}
