@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,400;1,600&display=swap');

:root {
  --siteBorder: 10px;
  --background: #eeeeee; /* grey eeeeee; greenish #d9dfcd; yellow e6ff08 */
  --gridItem: #ffffffbb; /* almost white #ffffffbb; */
  --yellow: #e6ff08;
  --yellowTransp: #e6ff08e5;
  --darkYellow: #c6de06;
  --accent: #ec002ff8; /* crimson dc143cf8; red ec002ff8; electric #00c9abf8 */
  --radius: 0.5rem;
  --radiusSmall: 0.25rem;
  --walker: #d9002bf8; /* dark olive 3c3c1af8; crimson dc143cf8; red ec002ff8; black #000000dd; */
}

*,
html,
body {
  margin: 0;
  padding: 0;
  user-select: none;
  width: 100%;
  box-sizing: border-box;
}

a {
  color: black;
  text-decoration: none;
}

body {
  width: 100%;
  margin: auto;
  font-family: Poppins, Roboto, Helvetica, Arial, sans-serif;
  background: var(--background);
  border: var(--siteBorder) solid black;
}

#site-container {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  justify-content: space-between; /* Align content at top and bottom */
  width: 90vw;
  max-width: 1200px;
  height: 100%;
  min-height: calc(100vh - var(--siteBorder) * 2);

  @media only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi) {
    max-width: 960px;
  }
}

#curtain {
  display: none; /* none or block */
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: var(--background);
  opacity: 0.9;
  top: 0;
  z-index: 998;
  transition: all 1s ease;
  transition-delay: 1s;
}

@media (max-width: 800px) {
  body {
    border: calc(var(--siteBorder) / 1.5) solid black;
  }

  .site-container {
    width: 92vw;
  }
}
