@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,400;1,600;1,700;1,800&display=swap');

:root {
  --siteBorder: 10px;
  --background: #f6f7f8; /* grey eeeeee; greenish #d9dfcd; greenish 2 bec4b8; yellow e6ff08 */
  --gridItem: #dce2e2; /* almost-white #ffffffbb; */
  --itemBorder: none; /* 4px solid black */
  --itemBorder: none; /* 4px solid black */
  --radius: 0.5rem;
  --radiusSmall: 0.25rem;

  --colorGrey1: #f6f7f8;
  --colorGrey2: #d4d6d6;
  --colorGrey3: #bcc1c1;
  --colorGrey4: #9ea8a8;
  --colorGrey5: #7e8787;
  --colorGrey6: #474c4c;
  --colorGrey7: #1e2121;
  --colorGrey8: #0f1111;

  --accent: #ec002ff8; /* crimson dc143cf8; red ec002ff8; electric #00c9abf8 */
  --backgroundRed: #e9002fe1;
  --walker: #ff0033ef; /* dark olive 3c3c1af8; crimson dc143cf8; red e30039f8; ec002ff8; ff0033ef; electric 00e1c0ef; black #000000dd; */
  --walkerText: #37000b; /* dark electric 00382f, dark red 37000b */

  --yellow: #e6ff08;
  --yellowTransp: #e6ff08e5;
  --darkYellow: #c6de06;
}

*,
html,
body {
  margin: 0;
  padding: 0;
  /* user-select: none; */
  width: 100%;
  box-sizing: border-box;
}

*::selection,
body::selection {
  background-color: var(--accent);
  color: var(--colorGrey8);
}

a {
  color: var(--colorGrey8);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 600;
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

body {
  width: 100%;
  margin: auto;
  overflow-x: hidden;
  font-family: Poppins, Roboto, Helvetica, Arial, sans-serif;
  background: var(--background);
  border: var(--siteBorder) solid black;
}

/* #curtain {
  display: block;
  position: fixed;
  width: 100vw;
  height: 100svh;
  background-color: var(--walker);
  top: 0%;
  z-index: 998;
  transition: all 2s ease;
  transition-delay: 0.2s;
}

#curtain {
  transform: translateY(-100%);
} */

#site-container {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  justify-content: space-between; /* Align content at top and bottom */
  width: 90vw;
  max-width: 1024px;
  height: 100%;
  min-height: calc(100vh - var(--siteBorder));

  @media screen and (min-width: 1280px) and (min-height: 720px) {
    max-width: 1040px;
  }

  @media screen and (min-width: 1280px) and (min-height: 780px) {
    max-width: 1120px;
  }

  /* retina screens fix */
  /* @media only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi) {
    max-width: 960px;
  } */
}

@media (max-width: 800px) {
  body {
    border: calc(var(--siteBorder) / 1.5) solid black;
  }

  .site-container {
    width: 94vw;
  }
}
